<%-include("header")%>
    <!-- Form Start -->
      <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">ADD Brand</h6>
                    <form action="/admin/Brand/insertBrand" method="post">
                        
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">categary</label>
                            <select class="form-select mb-3" name="categary" id="categaryid" onchange="return getsubcategarydata()" aria-label="Default select example">
                                <option>-select-categary-</option>
                                <% for(var catdat of tcat){%>
                                <option  value="<%=catdat.id %>"><%=catdat.categary_name%></option>
                                <%}%>
                            </select>
                        </div> 
                        <div class="mb-3">
                            <label for="exampleInputPassword1"class="form-label">Sub categary</label>
                            <select class="form-select mb-3"  onchange="return getextracategarydata()"  id="subcategaryid" name="subcategary" aria-label="Default select example">
                                <option>-select-categary-</option>
                                <% for(var subcat of tsubcat){%>
                                    <option value="<%= subcat.id %>"><%= subcat.subcategary_name %></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Extra categary</label>
                            <select class="form-select mb-3" id="extracatd" name="extracategary" aria-label="Default select example">
                                <option>-select-categary-</option>
                                <% for(var extacat of textcat){%>
                                    <option value="<%= extacat.id %>"><%= extacat.extracategary_name %></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Brand name</label>
                            <input type="text" class="form-control" placeholder="enter Brand" name="Brand">
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                    </form>
                </div>
           
     
    </div>
    <!-- Form End -->
    <%-include("footer")%>