<%- include("header") %>


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Profile</title>
  <style>
    body {
      background-color: #191C24 !important;
    }

    .profile-card {
      max-width: 400px;
      margin: 50px auto;
      background-color: #191C24 !important;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .profile-img {
      width: 100% !important;
      height: 344px !important;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    .profile-info {
      text-align: center;
      color: #6C7293;
    }

    .btn-edit {
      display: block;
      margin: 0 auto;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="profile-card bg-secondary">
      <img src="<%= record.Admineimage %>"  alt="Profile Picture" class="profile-img" >
      <div class="profile-info">
        <h2>  <%= record.name %></h2>
        <p>Email: <%= record.email %></p>
        <p>Role: Administrator</p>
        <a href="/admin/editprofile/<%=record.id%>" class="btn btn-primary btn-edit">Edit Profile</a>
      </div>
    </div>
  </div>

  
</body>

</html>

<%- include("footer") %>
