<%-include("header")%>
    <!-- Form Start -->
      <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">ADD ExtraCategary</h6>
                    <form action="/admin/extracategary/editextracategorydata" method="post">
                        <input type="hidden" name="EditId" value="<%= extradata.id%>" >
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">categary</label>
                            <select class="form-select mb-3" name="extra_categary_name" id="categaryid" onchange="return getsubcategarydata()" aria-label="Default select example">
                                <option>-select-categary-</option>
                                <% categarydata.map((v)=>{%>
                                    <option  value="<%=v.id %>" <% if (v.id == extradata.extra_categary_name) { %> <%='selected' %> <%}%> ><%=v.categary_name%></option>
                                <%})%>
                            </select>
                        </div> 
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Sub categary</label>
                            <select class="form-select mb-3" id="subcategaryid" name="extra_subcategary" aria-label="Default select example">
                                <option>-select-sub-categary-</option>
                                <%subcatdata.map((v)=>{%>
                                    <option value="<%= v.id %>"  <% if (v.id == extradata.extra_subcategary) { %> <%='selected' %> <%}%> ><%= v.subcategary_name %></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Extra categary</label>
                            <input type="text" class="form-control" placeholder="enter extcategary" name="extracategary_name" value="<%=extradata.extracategary_name%>">
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                    </form>
                </div>
           
     
    </div>
    <!-- Form End -->
    <%-include("footer")%>